/* using color palette provided by https://www.onlinepalette.com/pokemon/ */

/* colors */
$primary: #FFCC00 ;
$secondary: #0075BE;
$tertiary: #0A285F;
$quaternary: #D5A100;
$quinary: #ED1729;
$senary: #1B53BA;
$septenary: #FB1B1B;
$octonary: #FFDE00;
$nonary: #EE6B2F;
$denary: #4DAD5B;
$black: #000;
$white: #fff;
$light-background: #F5F5F5;
$mid-background: #DFDFDF;
$dark-background: #919191;

/* font */ 
$font-family: arial,sans-serif;
/* 16px */
$font-default: 1.6rem;
